*, html, body {
	  	box-sizing: border-box;
	  	padding: 0;
	  	margin: 0;
}

body {
	font-size: 16px;
}

.dark {
	background: #0F1223;
	color: #ffffff;
}

.grid-container.about {
	@media #{$breakpoint-md} {
		padding-left: 100px;
	}
}