/* Variables */

$col-number:				12;
$grid-width:				100%;
$grid-gutter-mobile:		10px;
$grid-gutter:				14px;

$breakpoint-sm:			"only screen and (max-width: 480px)";
$breakpoint-palm:		"only screen and (min-width: 480px)";
$breakpoint-md: 		"only screen and (min-width: 768px)";
$breakpoint-ml:			"only screen and (min-width: 1024px)";
$breakpoint-lg: 		"only screen and (min-width: 1170px)";


/* Grid */

.grid-container {
	margin: auto;
	//width: 100%;
	max-width: $grid-width;
}

.grid-container *{
	box-sizing: border-box;
}

.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}


[class*='col-'] {
	float: left;
	min-height: 1px;
	padding: 0 $grid-gutter;
}
/*
.row > :first-child {
	padding-left: 0;
}

.row > :last-child {
	padding-right: 0;
}
*/
@for $i from 0 through 12 {
	
	.col-s-#{$i} {
		width: 100% / $col-number * $i;
	}

	.col-s-offset-#{$i} {
		margin-left: 100% / $col-number * $i;
	}

	.wrapper {
		padding: 0px 20px;
		margin: auto;
	}

}

@media #{$breakpoint-palm} {
 
	@for $i from 0 through 12 {
		
		.col-pm-#{$i} {
			width: 100% / $col-number * $i;
		}

		.col-pm-offset-#{$i} {
			margin-left: 100% / $col-number * $i;
		}

	}
	 
}

@media #{$breakpoint-md} {
 
	@for $i from 0 through 12 {
		
		.col-m-#{$i} {
			width: 100% / $col-number * $i;
		}

		.col-m-offset-#{$i} {
			margin-left: 100% / $col-number * $i;
		}

	}


	 
}

@media #{$breakpoint-ml} {
 
	@for $i from 0 through 12 {
		
		.col-ml-#{$i} {
			width: 100% / $col-number * $i;
		}

		.col-ml-offset-#{$i} {
			margin-left: 100% / $col-number * $i;
		}

	}

		.wrapper {
		padding: 0px 100px;
		margin: auto;
	}
	 
}

@media #{$breakpoint-lg} {
 
	@for $i from 0 through 12 {
		
		.col-l-#{$i} {
			width: 100% / $col-number * $i;
		}

		.col-l-offset-#{$i} {
			margin-left: 100% / $col-number * $i;
		}

	}

	.wrapper {
		max-width: 1600px;
		margin: auto;
	}

}

// is there a better way to do this?

.full-width {
	
	[class*='col-'] {
		padding: 0;
	}
}

.full-width {
	padding: 0;
}

.clear-full-width {
	padding: 0 $grid-gutter;
}