

.header {
	padding: 30px;
  	top: 0; /* Stay on top */
  	width: 100%; /* Full width */
  	transition: top 0.3s; /* Transition effect when sliding down (and up) */
  	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-between;
  	align-items: center;



	@media #{$breakpoint-ml} {

		padding: 100px;
	}

}

.header__logo {

	a:hover {

		.header__logo__text, .header__logo__h {

			fill: #e6e6e6;

		}

	}

}

.header__logo__image {

	width: 150px;

	@media #{$breakpoint-md} {

		width: 210px;
	}

}

.header__nav {
	
}

.header__nav__item {
	transition: all 0.4s;
	opacity: 1;
	font-size: 14px;
	padding-left: 20px;

	@media #{$breakpoint-md} {
		padding-left: 40px;
		font-size: 16px;
	}

	a {
		text-decoration: none;
	}

	.active {
		text-decoration: line-through;
	}

}

.header__logo__text {
	transition: all 0.4s;
	opacity: 1;
}

.fadeonscroll {

	.header__logo__h {
		opacity: 1;
		transition: all 0.4s;
	}

	.header__logo__text {
		opacity: 0;
		transition: all 0.4s;
		top: -300px;
	}

	.header__nav__item {
		transition: all 0.4s;
		opacity: 0;
	}

}

.header--case {
	background-image: url('images/handverkspartner.png');
}
