/* Variables */
/* Grid */
.grid-container {
  margin: auto;
  max-width: 100%; }

.grid-container * {
  box-sizing: border-box; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 14px; }

/*
.row > :first-child {
	padding-left: 0;
}

.row > :last-child {
	padding-right: 0;
}
*/
.col-s-0 {
  width: 0%; }

.col-s-offset-0 {
  margin-left: 0%; }

.col-s-1 {
  width: 8.3333333333%; }

.col-s-offset-1 {
  margin-left: 8.3333333333%; }

.col-s-2 {
  width: 16.6666666667%; }

.col-s-offset-2 {
  margin-left: 16.6666666667%; }

.col-s-3 {
  width: 25%; }

.col-s-offset-3 {
  margin-left: 25%; }

.col-s-4 {
  width: 33.3333333333%; }

.col-s-offset-4 {
  margin-left: 33.3333333333%; }

.col-s-5 {
  width: 41.6666666667%; }

.col-s-offset-5 {
  margin-left: 41.6666666667%; }

.col-s-6 {
  width: 50%; }

.col-s-offset-6 {
  margin-left: 50%; }

.col-s-7 {
  width: 58.3333333333%; }

.col-s-offset-7 {
  margin-left: 58.3333333333%; }

.col-s-8 {
  width: 66.6666666667%; }

.col-s-offset-8 {
  margin-left: 66.6666666667%; }

.col-s-9 {
  width: 75%; }

.col-s-offset-9 {
  margin-left: 75%; }

.col-s-10 {
  width: 83.3333333333%; }

.col-s-offset-10 {
  margin-left: 83.3333333333%; }

.col-s-11 {
  width: 91.6666666667%; }

.col-s-offset-11 {
  margin-left: 91.6666666667%; }

.col-s-12 {
  width: 100%; }

.col-s-offset-12 {
  margin-left: 100%; }

@media only screen and (min-width: 480px) {
  .col-pm-0 {
    width: 0%; }

  .col-pm-offset-0 {
    margin-left: 0%; }

  .col-pm-1 {
    width: 8.3333333333%; }

  .col-pm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-pm-2 {
    width: 16.6666666667%; }

  .col-pm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-pm-3 {
    width: 25%; }

  .col-pm-offset-3 {
    margin-left: 25%; }

  .col-pm-4 {
    width: 33.3333333333%; }

  .col-pm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-pm-5 {
    width: 41.6666666667%; }

  .col-pm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-pm-6 {
    width: 50%; }

  .col-pm-offset-6 {
    margin-left: 50%; }

  .col-pm-7 {
    width: 58.3333333333%; }

  .col-pm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-pm-8 {
    width: 66.6666666667%; }

  .col-pm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-pm-9 {
    width: 75%; }

  .col-pm-offset-9 {
    margin-left: 75%; }

  .col-pm-10 {
    width: 83.3333333333%; }

  .col-pm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-pm-11 {
    width: 91.6666666667%; }

  .col-pm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-pm-12 {
    width: 100%; }

  .col-pm-offset-12 {
    margin-left: 100%; } }
@media only screen and (min-width: 768px) {
  .col-m-0 {
    width: 0%; }

  .col-m-offset-0 {
    margin-left: 0%; }

  .col-m-1 {
    width: 8.3333333333%; }

  .col-m-offset-1 {
    margin-left: 8.3333333333%; }

  .col-m-2 {
    width: 16.6666666667%; }

  .col-m-offset-2 {
    margin-left: 16.6666666667%; }

  .col-m-3 {
    width: 25%; }

  .col-m-offset-3 {
    margin-left: 25%; }

  .col-m-4 {
    width: 33.3333333333%; }

  .col-m-offset-4 {
    margin-left: 33.3333333333%; }

  .col-m-5 {
    width: 41.6666666667%; }

  .col-m-offset-5 {
    margin-left: 41.6666666667%; }

  .col-m-6 {
    width: 50%; }

  .col-m-offset-6 {
    margin-left: 50%; }

  .col-m-7 {
    width: 58.3333333333%; }

  .col-m-offset-7 {
    margin-left: 58.3333333333%; }

  .col-m-8 {
    width: 66.6666666667%; }

  .col-m-offset-8 {
    margin-left: 66.6666666667%; }

  .col-m-9 {
    width: 75%; }

  .col-m-offset-9 {
    margin-left: 75%; }

  .col-m-10 {
    width: 83.3333333333%; }

  .col-m-offset-10 {
    margin-left: 83.3333333333%; }

  .col-m-11 {
    width: 91.6666666667%; }

  .col-m-offset-11 {
    margin-left: 91.6666666667%; }

  .col-m-12 {
    width: 100%; }

  .col-m-offset-12 {
    margin-left: 100%; } }
@media only screen and (min-width: 1024px) {
  .col-ml-0 {
    width: 0%; }

  .col-ml-offset-0 {
    margin-left: 0%; }

  .col-ml-1 {
    width: 8.3333333333%; }

  .col-ml-offset-1 {
    margin-left: 8.3333333333%; }

  .col-ml-2 {
    width: 16.6666666667%; }

  .col-ml-offset-2 {
    margin-left: 16.6666666667%; }

  .col-ml-3 {
    width: 25%; }

  .col-ml-offset-3 {
    margin-left: 25%; }

  .col-ml-4 {
    width: 33.3333333333%; }

  .col-ml-offset-4 {
    margin-left: 33.3333333333%; }

  .col-ml-5 {
    width: 41.6666666667%; }

  .col-ml-offset-5 {
    margin-left: 41.6666666667%; }

  .col-ml-6 {
    width: 50%; }

  .col-ml-offset-6 {
    margin-left: 50%; }

  .col-ml-7 {
    width: 58.3333333333%; }

  .col-ml-offset-7 {
    margin-left: 58.3333333333%; }

  .col-ml-8 {
    width: 66.6666666667%; }

  .col-ml-offset-8 {
    margin-left: 66.6666666667%; }

  .col-ml-9 {
    width: 75%; }

  .col-ml-offset-9 {
    margin-left: 75%; }

  .col-ml-10 {
    width: 83.3333333333%; }

  .col-ml-offset-10 {
    margin-left: 83.3333333333%; }

  .col-ml-11 {
    width: 91.6666666667%; }

  .col-ml-offset-11 {
    margin-left: 91.6666666667%; }

  .col-ml-12 {
    width: 100%; }

  .col-ml-offset-12 {
    margin-left: 100%; } }
@media only screen and (min-width: 1170px) {
  .col-l-0 {
    width: 0%; }

  .col-l-offset-0 {
    margin-left: 0%; }

  .col-l-1 {
    width: 8.3333333333%; }

  .col-l-offset-1 {
    margin-left: 8.3333333333%; }

  .col-l-2 {
    width: 16.6666666667%; }

  .col-l-offset-2 {
    margin-left: 16.6666666667%; }

  .col-l-3 {
    width: 25%; }

  .col-l-offset-3 {
    margin-left: 25%; }

  .col-l-4 {
    width: 33.3333333333%; }

  .col-l-offset-4 {
    margin-left: 33.3333333333%; }

  .col-l-5 {
    width: 41.6666666667%; }

  .col-l-offset-5 {
    margin-left: 41.6666666667%; }

  .col-l-6 {
    width: 50%; }

  .col-l-offset-6 {
    margin-left: 50%; }

  .col-l-7 {
    width: 58.3333333333%; }

  .col-l-offset-7 {
    margin-left: 58.3333333333%; }

  .col-l-8 {
    width: 66.6666666667%; }

  .col-l-offset-8 {
    margin-left: 66.6666666667%; }

  .col-l-9 {
    width: 75%; }

  .col-l-offset-9 {
    margin-left: 75%; }

  .col-l-10 {
    width: 83.3333333333%; }

  .col-l-offset-10 {
    margin-left: 83.3333333333%; }

  .col-l-11 {
    width: 91.6666666667%; }

  .col-l-offset-11 {
    margin-left: 91.6666666667%; }

  .col-l-12 {
    width: 100%; }

  .col-l-offset-12 {
    margin-left: 100%; }

  .wrapper {
    max-width: 1600px;
    margin: auto; } }
.full-width [class*='col-'] {
  padding: 0; }

.full-width {
  padding: 0; }

.clear-full-width {
  padding: 0 14px; }

.header {
  padding: 30px;
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (min-width: 1024px) {
    .header {
      padding: 100px; } }

.header__logo a:hover .header__logo__text, .header__logo a:hover .header__logo__h {
  fill: #e6e6e6; }

.header__logo__image {
  width: 150px; }
  @media only screen and (min-width: 768px) {
    .header__logo__image {
      width: 210px; } }

.header__nav__item {
  transition: all 0.4s;
  opacity: 1;
  font-size: 14px;
  padding-left: 20px; }
  @media only screen and (min-width: 768px) {
    .header__nav__item {
      padding-left: 40px;
      font-size: 16px; } }
  .header__nav__item a {
    text-decoration: none; }
  .header__nav__item .active {
    text-decoration: line-through; }

.header__logo__text {
  transition: all 0.4s;
  opacity: 1; }

.fadeonscroll .header__logo__h {
  opacity: 1;
  transition: all 0.4s; }
.fadeonscroll .header__logo__text {
  opacity: 0;
  transition: all 0.4s;
  top: -300px; }
.fadeonscroll .header__nav__item {
  transition: all 0.4s;
  opacity: 0; }

.header--case {
  background-image: url("images/handverkspartner.png"); }

body {
  font-family: 'Acumin Pro Wide', sans-serif;
  font-size: 16px;
  color: #333333; }

p {
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 32px; }

strong {
  font-family: 'Acumin Pro Wide';
  font-weight: normal; }

.lede {
  font-size: 21px;
  line-height: 33px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eczar semibold', serif;
  font-weight: 100; }

@media only screen and (min-width: 768px) {
  .h2--project-card {
    font-size: 70px;
    line-height: 110px; } }

.h1--project {
  font-size: 36px; }
  @media only screen and (min-width: 768px) {
    .h1--project {
      font-size: 80px; } }

@keyframes fadeIn {
  from {
    top: -20px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
@keyframes fadeOut {
  from {
    top: 0px;
    opacity: 1; }
  to {
    top: -20px;
    opacity: 0; } }
.fadein {
  animation: fadeIn ease 1;
  top: 0px;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  opacity: 0; }

*, html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-size: 16px; }

.dark {
  background: #0F1223;
  color: #ffffff; }

.svanhild {
  background: url("images/svanhild.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.oslo {
  background: url("images/oslo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.mw {
  background: url("images/mw.jpg");
  background-size: cover;
  background-position: center center; }

.cm {
  background: url("images/cm.jpg");
  background-size: cover;
  background-position: center center; }

.cover__section {
  height: calc(100vh - 79px);
  display: flex;
  flex-flow: row wrap; }
  @media only screen and (min-width: 768px) {
    .cover__section {
      height: calc(100vh - 139px); } }

.cover__text {
  align-self: flex-end; }

.cover__text h1 {
  padding: 20px;
  font-size: 20px;
  line-height: 36px;
  color: #1E2239;
  font-weight: 400;
  margin-bottom: 0px; }
  .cover__text h1 a {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 30px;
    background-size: auto 2px;
    background-repeat: repeat-x;
    padding-bottom: 3px;
    text-decoration: none; }
    .cover__text h1 a:hover {
      color: #FF2E12;
      background-image: linear-gradient(#FF2E12 50%, #FF2E12 50%);
      background-repeat: repeat-x;
      background-size: auto 1px;
      background-position: 0 52px; }
  @media only screen and (min-width: 768px) {
    .cover__text h1 {
      font-size: 34px;
      line-height: 60px;
      padding: 50px;
      margin-bottom: 100px; }
      .cover__text h1 a {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
        background-position: 0 50px;
        background-size: auto 3px;
        background-repeat: repeat-x;
        padding-bottom: 3px;
        text-decoration: none; }
        .cover__text h1 a:hover {
          color: #FF2E12;
          background-image: linear-gradient(#FF2E12 50%, #FF2E12 50%);
          background-repeat: repeat-x;
          background-size: auto 1px;
          background-position: 0 52px; } }

a {
  color: #1E2239; }

.dark a {
  color: #ffffff; }

a.squiggly {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f00' stroke-width='2' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 19px;
  background-size: auto 2px;
  background-repeat: repeat-x;
  padding-bottom: 5px;
  text-decoration: none; }
  a.squiggly:hover {
    color: #FF2E12;
    background-image: linear-gradient(#FF2E12 50%, #FF2E12 50%);
    background-repeat: repeat-x;
    background-size: auto 1px;
    background-position: 0 20px; }

/*.about__image {
	width: 100%;
	height: auto;
}
*/
.about__image {
  background-image: url("images/about2.png");
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 30% 50%;
  position: absolute;
  backface-visibility: hidden; }

.about__image-wrap {
  right: 0;
  z-index: -1000;
  position: relative;
  height: 400px; }
  @media only screen and (min-width: 1024px) {
    .about__image-wrap {
      height: 500px; } }

.about__text {
  font-weight: 200;
  position: relative; }

.about__headline {
  display: inline-block;
  margin-left: 20px; }
  @media only screen and (min-width: 1024px) {
    .about__headline {
      margin-left: 0; } }

.about__top {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px; }
  @media only screen and (min-width: 1024px) {
    .about__top {
      flex-direction: row;
      margin-top: -60px;
      margin-bottom: 50px; } }

.about__title {
  position: relative;
  bottom: 110px; }
  @media only screen and (min-width: 768px) {
    .about__title {
      bottom: 210px; } }
  @media only screen and (min-width: 1024px) {
    .about__title {
      bottom: 90px;
      align-self: center; } }

.h1--about {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px white;
  width: 250px; }
  @media only screen and (min-width: 768px) {
    .h1--about {
      width: 400px; } }
  @media only screen and (min-width: 1024px) {
    .h1--about {
      width: 600px; } }

.h1--about {
  font-size: 40px;
  line-height: 45px; }
  @media only screen and (min-width: 768px) {
    .h1--about {
      font-size: 60px;
      line-height: 65px; } }
  @media only screen and (min-width: 1024px) {
    .h1--about {
      font-size: 100px;
      line-height: 110px; } }

.projects {
  margin-left: 100px;
  margin-right: 100px; }

.portfolio-card__item {
  position: relative; }

.portfolio-cards {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px; }
  .portfolio-cards a {
    text-decoration: none; }
    .portfolio-cards a:hover h2 {
      color: rgba(255, 255, 255, 0);
      -webkit-text-stroke: 1px white; }
    .portfolio-cards a:hover .portfolio-card__img {
      transform: scale(1.15);
      transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .portfolio-cards a:hover .portfolio-card__img-wrap {
      transform: scale(0.95);
      transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }

.portfolio-card__content {
  position: absolute;
  color: #fff;
  width: inherit;
  bottom: -60px;
  width: 500px;
  left: 40px; }

.portfolio-card {
  flex-direction: row; }

.portfolio-card__img-wrap {
  /*	height: 500px;
      max-height: 100%;
      overflow: hidden;
      position: relative;
      margin: auto;
      display: block;*/
  right: 0;
  z-index: -1000;
  position: relative;
  height: 500px;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }

.portfolio-card__img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  backface-visibility: hidden;
  background-image: url("images/lavida.jpg");
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }

/*
.portfolio-card__item {
	position: relative;
	display: flex;
	flex-flow: column;
	

}*/
.headline__case {
  text-align: center;
  color: white; }

.fixed {
  position: fixed; }

.next-project a {
  text-decoration: none; }

.next-project__link {
  display: block; }
  .next-project__link:hover {
    background: url("images/rr.jpg");
    background-position: center center;
    background-size: cover; }
    .next-project__link:hover .next-project__title {
      color: rgba(255, 255, 255, 0);
      -webkit-text-stroke: 1px black; }

.next-project__wrap {
  text-align: center;
  padding: 50px 0; }
  @media only screen and (min-width: 768px) {
    .next-project__wrap {
      padding: 150px 0; } }

.next-project__meta {
  display: block;
  font-family: 'Acumin Pro Wide', sans-serif;
  font-size: 16px; }
  @media only screen and (min-width: 768px) {
    .next-project__meta {
      font-size: 20px; } }

.next-project__title {
  display: block;
  font-size: 25px; }
  @media only screen and (min-width: 768px) {
    .next-project__title {
      font-size: 80px; } }

.portfolio-headline__meta {
  font-family: 'Acumin Pro Wide', sans-serif;
  font-weight: 100; }
  @media only screen and (min-width: 768px) {
    .portfolio-headline__meta {
      font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
